*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;
    font-style: normal;
}
button {
    cursor: pointer;
    font-family: inherit;
}
ul, ol {
    list-style-type: none;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
}
.header .container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 332px;
    justify-content: space-between;
}
.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    align-items: center;
    display: inline-flex;
    margin-right: 76px;
}
.logo.footer {
    display: inline-block;
    margin-bottom: 16px;
}
.logo-dark {
    color: #2E2F42;
}
.logo-light {
    color: #F4F4FD;
}
.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.menu-link {
    display:flex
}
.link {
    padding: 24px 0;
}
.header-adress {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    
}
.section.dark.hero {
    padding: 188px 0;
}

.link:hover,
.link:focus {
    color: #404BBF;
}
section {
    padding: 120px 0;
}
footer {
    padding: 100px 0;
}
.section.dark {
    background-color: #2E2F42;
}
.section.light {
    background-color: #F4F4FD;
}
.title-large {
    display:block;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    padding-bottom: 48px;
    margin: 0 316px;
}
.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin: 0 479px;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
.title-small {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.title-small .benefits {
    margin-bottom: 8px;
}
.title-small .portfolio {
    margin-bottom: 8px;
}
.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.subtitle.light {
    color: #F4F4FD;
}
.title-medium {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
   color: #2E2F42;
   margin-bottom: 72px;
}
.team-block {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.team-text-block {
    display: block;
    padding: 32px 0;
    box-shadow: 0px 2px 1px 0px #2E2F4214;
    box-shadow: 0px 1px 1px 0px #2E2F4229;
    box-shadow: 0px 1px 6px 0px #2E2F4214;
}
.item-team {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}
.benefits-block {
    display: flex;
    gap: 24px;
}
.benefits-card {
    width: calc((100% - 72px) / 4);
}

.portfolio-block {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    margin-top: 72px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-text-block {
    display: block;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.subtitle.light.footer {
    display: block;
    padding-top: 16px;
    margin-right: 864px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}