*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;
    font-style: normal;
}
button {
    cursor: pointer;
    font-family: inherit;
}
ul, ol {
    list-style-type: none;
}
.container {
    
    min-width: 320px;
    padding: 0 16px;
    margin: auto 0;
    

    @media only screen and (min-width: 768px) {
        min-width: 736px;
    }
    
    @media only screen and (min-width: 1200px) {
        min-width: 1158px;
        padding: 0 15px;
    }
}
.header {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08); 
    

}
.header .container {
    display: flex;
    align-items: center;
    width: 100%;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    @media screen and (min-width: 768px) {
        margin-right: auto;
        flex-grow: 0;
    }
    
    @media screen and (min-width: 1158px) {}
}
.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    align-items: center;
    display: inline-flex;
    padding: 16px 0;
    

    @media screen and (min-width: 768px) {
        margin-right: 120px;
    }
    
    @media screen and (min-width: 1158px) {
        margin-right: 76px;
    }
}
.logo.footer {
    display: inline-block;
    margin-left: 86px;
    
    @media screen and (min-width: 768px) {
        margin-left: 0;
    }

}
.logo-dark {
    color: #2E2F42;
}
.logo-light {
    color: #F4F4FD;
}
.header-menu {
    display: none;

    @media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    align-items: center;
    
    }
    
}
.menu-item {
    display: flex;
}
.link-menu {
    padding: 24px 0;
    display: flex;
    position: relative; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: color;
    color: #2E2F42;
}
 .link-menu:hover,
 .link-menu:focus {

    color: #404BBF;
 }
.current {
    color: #404BBF;
}
.link-menu.current::after {
    
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    
 }
 

.link {
    padding: 24px 0;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: color;
}

.header-adress {
    display: none;
    font-style: normal;
    color: #434455;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 12px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        margin-left: auto;
        

    }
    @media screen and (min-width: 1158px) {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 40px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    
}
.section {
    padding: 96px 0;

    @media only screen and (min-width: 768px) {
        padding: 120px 0;
    }
    
}

.section-hero {
    
    padding: 72px 0;
    margin: auto;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media only screen and (min-width: 768px) {
        padding: 112px 0;
    }
    @media only screen and (min-width: 1156px) {
        padding: 188px 0;
    }
    @media (min-resolution: 192dpi) {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/background@2x.jpg');
        
    }

}

.link:hover,
.link:focus {
    color: #404BBF;
}

.link-contacts {
    padding: 0;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: color;
}

.link-contacts:active {
    color: #4D5AE5;
}

.section.light {
    background-color: #F4F4FD;
}
.title-large {
    display:block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;  
    max-width: 216px;  
    margin: 0 auto 72px;

    @media only screen and (min-width: 768px) { 
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
    }

    @media only screen and (min-width: 1156px) {
    margin: 0 auto 48px;
    }
}
.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    box-shadow: 0px 4px 4px 0px #00000026;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    background-color: #404BBF;
    
}
.title-small {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.title-small-benefits {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #2E2F42;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
    @media screen and (min-width: 1158px) {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.subtitle.light {
    color: #F4F4FD;
}
.subtitle.light.footer {
    display: block;
}
.title-medium {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
   color: #2E2F42;
   margin-bottom: 72px;
}

.team-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
    width: 264px;
    margin: 0 auto;

    @media screen and (min-width: 768px) and (max-width: 1158px) {
        row-gap: 64px;
        width: 552px;
    }
    
    @media screen and (min-width: 1158px) {
        flex-wrap: nowrap;
        width: 1128px;

    }
}
.team-text-block {
    display: block;
    padding: 32px 0px;

}
.item-team {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;    
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

    
}
.social-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 8px;
}
.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
    background-color: #404BBF;;
}
.socials-link.bottom:hover,
.socials-link.bottom:focus {
    background-color: #31D0AA;
}

.socials-link.bottom {
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms;
   transition-property: background-color; 
}

.social-icon {
    fill: #f4f4fd;
}
        
.benefits-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
}
.benefits-card {
    width: 100%;
    @media screen and (min-width: 768px) {
        width: calc((100% - 24px) / 2);
    }
    @media screen and (min-width: 1158px) {
        width: calc((100% - 72px) / 4);
    }
}
.benefits-icon {
    display: none;
    
    @media screen and (min-width: 1158px) { 
        display: flex;
        height: 112px;
        align-items: center;
        justify-content: center;
        padding: 24px 100px;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        border-color: #8E8F99;
        background-color: #F4F4FD;
        margin-bottom: 8px;
    }
}

.portfolio-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 48px; 
    margin-top: 72px;
    
    @media screen and (min-width: 768px) {
    column-gap: 24px;
    }

    @media screen and (min-width: 1158px) {
      
    }
   
}

.portfolio-item:hover {
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-item:hover .overlay-text {
    transform: translateY(0%);

}

.portfolio-item {
   
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
    transition-duration: 250ms;

    @media screen and (min-width: 768px) {
        width: calc((100% - 24px) / 2);
    }
    @media screen and (min-width: 1158px) {
        width: calc((100% - 48px) / 3);
    }
}
.portfolio-photo {
    width: 100%;
}

.portfolio-text-block {
    display: block;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-img {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    top: 0;
    left: 0;
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 100%;
    height: 100%;
    background: #4D5AE5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    transition-duration: 250ms;
}
.footer-block {

    padding: 96px 0;
    background-color: #2E2F42;

    @media screen and (min-width: 1158px) {
        padding: 100px 0;
        
    }
}

.container-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 72px;
    padding: 0 16px;
    margin: 0 auto;
    width: 320px;

    @media screen and (min-width: 768px) {
      
      column-gap: 24px;  
      margin-left: 92px;
      width: 528px;
    }

    @media screen and (min-width: 1156px) {
        width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
        align-items: baseline;
        column-gap: 0;
     
    }
}

.footer-text {
    display: block;
    
    @media screen and (min-width: 768px) {
        width: 264px;
    }
    @media screen and (min-width: 1156px) {
        margin-right: 120px  
    }
}

.social-footer-block {
    display: block;
    width: 208px;
    margin: 0 auto;
    


}

.social-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-left: 56px;
    
    @media screen and (min-width: 768px) {
    margin-left: 0;
    }


}
.social-name.imput {
    margin-left: 106px;

    @media screen and (min-width: 768px) {
        margin-left: 0;
    }
}

.social-block.small {
    gap: 16px;
    padding-top: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.backdrop {
    position: fixed;
    background: #2E2F4266;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

} 

.backdrop.is-open {
    pointer-events: auto;
    opacity: 1;
}
.modal {

    max-width: 288px;
    min-height: 623px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FCFCFC;
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
    max-width: 408px;
    min-height: 584px;
    }
    
}
.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    fill: #2E2F42;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #0000001A;
    border-radius: 50%;
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button.menu {
    background-color: #FFFFFF;
    border: 1px solid #E7E9FC;
}

.close-button:hover,
.close-button:focus {
    fill: #FFFFFF;
    border: none;
    background-color: #404BBF;

}

.modal-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;  
    color: #2E2F42;
    margin-bottom: 16px;
}
.modal-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}
.form-modal-container {
    margin-bottom: 8px;
}
.imput-modal {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #2E2F4266;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
}
.comment-container{
    margin-bottom: 16px;
}
.imput-modal.comment {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    
}
textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.footer-imput::placeholder {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.4em;

}
.imput-modal:focus {
    border-color: #4D5AE5;
}
.checkbox-container {
    margin-bottom: 24px;
}
.button-modal {
    display: block;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    min-width: 169px;
    height: 56px;
    margin: 0 96px 0 95px;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus {
    background: #404BBF;
}
.modal-text.checkbox {
    align-items: center;
    gap: 8px;
}

.imput-modal:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-wrapper {
    position: relative;
}
.modal-icon {
    fill: rgba(46, 47, 66, 1);
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-sign {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + label .checkbox-sign {
    border: none;
    fill: #F4F4FD;
    background-color: rgba(64, 75, 191, 1);
}
.policy-link {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: Auto;
    color: #4D5AE5;
}

.form-footer-container {
    
    @media screen and (min-width: 1156px) {
    margin-left: 80px;
    }


}

.footer-form {
display: flex;
justify-content: center;
row-gap: 16px;
max-width: 453px;
flex-wrap: wrap;

@media screen and (min-width: 768px) {
       flex-wrap: nowrap;
       column-gap: 24px;
       height: 80px;
       justify-content: left;
    }

}
.footer-label {
    width: 100%;
}
.footer-imput {
    display: block;
    width: 100%;
    height: 40px;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    padding-left: 16px;
    outline: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
        width: 264px;
    }

    
}
.icon-send {
    margin-left: 16px;
    fill: #FFFFFF;
}
.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;
}
.footer-button:hover,
.footer-button:focus {
    background: #404BBF;
}

.footer-imput:focus {
    border: 1px solid #404BBF;
}
.menu-btn {
    display: block;
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
    background-color: transparent;

    @media only screen and (min-width: 768px) {
        display: none;
    }
 }

.menu-btn-icon {
    fill: #2F2F37;
}
.mobile-menu {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #FFFFFF;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    padding: 0 24px 40px 16px;
   

   
    @media only screen and (min-width: 768px) {
        display: none;
    }
}
.backdrop.is-open .mobile-menu{
    transform: translateX(0);
    
}
.mobile-list {
    display: block;
    margin-top: 72px;
    margin-bottom: auto;
}
.mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.mobile-menu-item:not(:last-child) {
    padding-bottom: 40px;
}
@media not (hover: hover) {
    .mobile-menu-link:active {
        color: #404BBF;
    }
}
.social-block.mobile {
    gap: 40px;
    padding-top: 48px;
    justify-content: left;
}
.mobile-adress {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-right: 0;
}